/* apply a natural box layout model to all elements,
   but allow easier overriding */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a,
button {
  color: inherit;
  /* dose not inherit by default */
  -webkit-transition: .3s;
  transition: .3s; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  background-color: mistyrose; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%; }

.header {
  background: url(../../../images/hero_bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%; }

.coming-soon {
  margin: 0;
  padding: 2em;
  background-color: black;
  height: 100vh;
  font-family: 'Special Elite', cursive;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .coming-soon .title {
    padding: 20px;
    display: block;
    width: 50%;
    text-align: center; }
    .coming-soon .title .name {
      font-size: 4em;
      line-height: 1em;
      margin-bottom: 5px; }
    .coming-soon .title .typer {
      display: inline;
      font-size: 1.5em; }
  .coming-soon .button-holder {
    display: block;
    width: 100%;
    color: black;
    margin-top: 30px;
    font-size: 2.5em; }
    .coming-soon .button-holder button {
      border: 0px;
      border-radius: 100%;
      color: white;
      height: 85px;
      width: 85px;
      font-size: 0.7em;
      background: #ea1043;
      background: -webkit-linear-gradient(left top, #ec1c9b, #ea1043);
      background: -webkit-linear-gradient(top left, #ec1c9b, #ea1043);
      background: linear-gradient(to bottom right, #ec1c9b, #ea1043);
      cursor: pointer;
      -webkit-transition: 0.7s;
      transition: 0.7s; }
      .coming-soon .button-holder button:hover {
        -webkit-filter: brightness(150%);
        filter: brightness(150%); }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
