.coming-soon {
  margin: 0;
  padding: 2em;
  background-color: black;
  height: 100vh;
  font-family: 'Special Elite', cursive;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    padding: 20px;
    display: block;
    width: 50%;
    text-align: center;

    .name {
      font-size: 4em;
      line-height: 1em;
      margin-bottom: 5px;
    }

    .typer {
      display: inline;
      font-size: 1.5em;

    }

  }

  .button-holder {
    display: block;
    width: 100%;
    color: black;
    margin-top: 30px;
    font-size: 2.5em;

    button {
      border: 0px;
      border-radius: 100%;
      color: white;
      height: 85px;
      width: 85px;
      font-size: 0.7em;
      background: #ea1043;
      background: -webkit-linear-gradient(left top, #ec1c9b, #ea1043);
      background: -o-linear-gradient(bottom right, #ec1c9b, #ea1043);
      background: -moz-linear-gradient(bottom right, #ec1c9b, #ea1043);
      background: linear-gradient(to bottom right, #ec1c9b, #ea1043);
      cursor: pointer;
      transition: 0.7s;

      &:hover {
        -webkit-filter: brightness(150%);
        filter: brightness(150%);
      }
    }
  }

}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
