* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #031e28;
}

button:focus, input:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1200px;
  min-height: 100px;
  margin: 0 auto;
  padding: 150px 10px 150px 10px;
  display: flex;
  position: relative;
}

// Color Variables
$light-green: #72f4ab;
$light-grey: #989898;
$dark-blue: #031e28;
$medium-blue: #042430;
$shadow-blue: #073647;

// Font Variables
$feature-font: 'Lobster', cursive;
$heading-font: 'Oswald', sans-serif;
$normal-font: 'Open Sans', sans-serif;

h1 {
  font-family: $heading-font;
  font-size: 70px;
  line-height: 80px;
}

h2 {
  font-family: $heading-font;
  font-size: 45px;
  color: #fff;

}

h3 {
  font-family: $heading-font;
  font-size: 50px;
  color: $light-green;
  line-height: 55px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px $shadow-blue;

}

h4 {
  font-family: $heading-font;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
}

h5 {
  font-family: $feature-font;
  color: #0a5069;
  font-size: 1.3em;
  padding-bottom: 10px;
}

p {
  font-family: $normal-font;
  color: #fff;
}

li {
  font-family: $normal-font;
}

.col_left {
  width: 60%;
  padding: 10px;
  position: relative;
}

.col_right {
  width: 35%;
  padding: 10px;
  position: relative;
}

.nav_holder {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000
}

nav {
  padding: 35px 15px 15px 15px;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;

  .nav_left {
    width: 50%;
    float: left;
    // border: 1px solid blue;

    * {
      display: inline-block;
    }

    #aruza_logo {
      height: 50px;
      vertical-align: top;
      margin-left: 10px;

    }

    .nav_item {
      display: inline-block;

      .specialty_holder {
        padding-left: 30px;
        cursor: pointer;

        p {
          line-height: 50px;
          vertical-align: top;
          color: #fff;
          font-size: 0.9em;
        }

        i {
          padding-left: 5px;
          color: #fff;
          line-height: 50px;
        }

      }

    }

  }

  .hover_menu {
    width: 320px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    -webkit-box-shadow: 0px 12px 90px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 12px 90px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 90px 3px rgba(0,0,0,0.75);
    display: none;
    transition: 0.3s;
    margin-left: 20px;

    * {
      color: black;
    }

    .item_holder {
      color: black;
      display: flex;
      background-color: #fff;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
      padding: 5px;

      * {
        cursor: pointer;
      }

      &:hover {
        background-color: rgb(245, 245, 245);

      }

    }

    .item_icon {
      display: inline-block;
      width: 23%;
      padding: 15px 5px 5px 5px;

      img {
        width: 80%;
      }
    }

    .item_cont {
      display: inline-block;
      width: 77%;
      vertical-align: top;
      padding: 10px 10px 10px 10px;
    }

    h4 {
      font-size: 0.95em;
      color: #269d5a;
      letter-spacing: 0.04em;
    }

    p {
      color: rgb(136, 136, 136);
      font-size: 0.9em;
      padding-top: 5px;
    }

  }

  .nav_item:hover .hover_menu{
    display: block;
  }

  .nav_right {
    width: 50%;
    float: left;
    // border: 1px solid blue;
    text-align: right;

    .cta_button {
      background-color: $light-green;
      border-radius: 30px;
      border: 0px;
      display: inline-block;
      padding: 13px 50px 15px 50px;
      margin-right: 10px;
      -webkit-box-shadow: 3px 6px 0px 0px $shadow-blue;
      -moz-box-shadow: 3px 6px 0px 0px $shadow-blue;
      box-shadow: 3px 6px 0px 0px $shadow-blue;
      font-family: $feature-font;
      font-size: 1.3em;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: #91ffc1;
        cursor: pointer;
      }

    }
  }
}

.header {
  background: url(../../../images/hero_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;

  .container {
    padding: 0px 10px 0px 10px;
    display: block;
  }

  .hero {
    text-align: center;
    color: white;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

    p {
      color: rgb(209, 209, 209);
    }
  }

  .hero_content {
    margin-top: -150px;
    position: relative;

    h1, h2, p {
      text-shadow: 2px 2px 20px #000000;
    }

    p {
      width: 60%;
      margin: 0 auto;
      padding: 20px 0px 0px 0px;
      font-size: 1.1em;
    }

    .hero_button {
      background-color: #fff;
      color: rgb(31, 31, 31);
      border: 0px;
      border-radius: 50px;
      display: inline-block;
      padding: 20px 50px 20px 50px;
      margin-right: 10px;
      margin-top: 40px;
      -webkit-box-shadow: 3px 6px 0px 0px $shadow-blue;
      -moz-box-shadow: 3px 6px 0px 0px $shadow-blue;
      box-shadow: 3px 6px 0px 0px $shadow-blue;
      font-family: $feature-font;
      font-size: 1.4em;
      cursor: pointer;
      transition: 0.8s;


      &:hover {
        cursor: pointer;
        background-color: $light-green;
      }
    }

    #highlight_holder {
      display: inline-block;
      position: relative;
      width: 650px;
      height: 65px;
      text-align: center;

      h2 {
        position: absolute;
        top: 0px;
        left: 0px;
      }

      #hero_highlight {
        position: absolute;
        top: 20px;
        right: 12px;
        width: 506px;
        height: 31px;
        background-color: rgb(91, 179, 126);
      }
    }

  }

}

.study {
  position: relative;

  p {
    padding: 20px 0px 0px 0px;
  }

  .study_button {
    background-color: $light-green;
    color: rgb(31, 31, 31);
    border: 0px;
    border-radius: 50px;
    display: inline-block;
    padding: 20px 50px 20px 50px;
    margin-right: 10px;
    margin-top: 40px;
    -webkit-box-shadow: 3px 6px 0px 0px $shadow-blue;
    -moz-box-shadow: 3px 6px 0px 0px $shadow-blue;
    box-shadow: 3px 6px 0px 0px $shadow-blue;
    font-family: $feature-font;
    font-size: 1.4em;
    cursor: pointer;
    transition: 0.8s;

    &:hover {
      cursor: pointer;
      background-color: #93f9bf;
    }

  }

  .inactive {
    background-color: $light-grey;
    cursor: default;;

    &:hover {
      background-color: $light-grey;
      cursor: default;
    }
  }

}

.study_one {
  background-color: $dark-blue;

}

.study_two {
  background-color: $medium-blue;
  position: relative;

  .col_left {
    width: 35%;
  }

  .col_right {
    width: 65%;
  }
}

.study_three {
  background-color: $dark-blue;

}

.cta {
  background-color: #35cb88;
  position: relative;

  .container {
    display: block;
    text-align: center;
    padding-top: 0px;
  }

  .cta_triangle_green {
    position: absolute;
    top: -100px;
    left: 0px;
    width: 0;
    height: 0;
    border-bottom: 100px solid #35cb88;
    border-left: 100vw solid transparent;
  }

  .cta_triangle_blue {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-bottom: 100px solid $dark-blue;
    border-left: 100vw solid transparent;
  }

  img {
    width: 600px;
    margin-bottom: 20px;
  }

  h3 {
    color: #031c25;
    text-shadow: none;
  }

  h4 {
    color: #88febc;
  }

  p {
    padding: 20px 0px 20px 0px;
    width: 70%;
    margin: 0 auto;
    color: #031c25;
    font-size: 1.1em;
  }

  .cta_button {
    background-color: #fff;
    color: rgb(31, 31, 31);
    border: 0px;
    border-radius: 50px;
    display: inline-block;
    padding: 23px 80px 25px 80px;
    margin-right: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 3px 6px 0px 0px #188c58;
    -moz-box-shadow: 3px 6px 0px 0px #188c58;
    box-shadow: 3px 6px 0px 0px #188c58;
    font-family: $feature-font;
    font-size: 1.8em;
    cursor: pointer;
    transition: 0.8s;


    &:hover {
      cursor: pointer;
      background-color: rgb(233, 233, 233);
    }
  }
}

footer {
  background-color: $dark-blue;
  text-align: center;
  text-decoration: none;

  .container {
    padding: 50px 50px 100px 50px;
    display: block;
  }

  img {
    width: 150px;
  }

  ul {
    text-decoration: none;
    padding-top: 10px;
    cursor: auto;
  }

  li {
    text-decoration: none;
    color: #d5d5d5;
    list-style: none;
    display: inline-block;
    padding: 10px 5px 0px 10px;
    font-size: 0.9em;
    cursor: default;

  }

  .footer_divider {
    color: $light-green;
  }
}


.study_one .col_right{
  padding-top: 30px;
}

.study_two .col_left {
  padding-top: 50px;

  img {
    width: 70%;
  }
}

.study_three .col_right {
  padding-top: 60px;
}

#study_one_img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70%;
  padding-top: 170px;
}

#study_two_img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 70% 0, 85% 100%, 0% 100%);
  clip-path: polygon(0 0, 70% 0, 85% 100%, 0% 100%);
  opacity: 0.8;

}

#study_right {
  background-color: $medium-blue;
}

.study_three {

  .col_left {
    width: 70%;
  }

  .col_right {
    width: 30%;
  }
}

#nav_smm {
  color: #005fda;
}

#nav_growth {
  // current
}

#nav_marketing {
  color: #c23d4b;
}

#nav_web {
  color: #9251ac;
}

.triange_pattern {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100%;
  min-width: 100%;
}
